* {
    box-sizing: border-box;
    color: rgb(170, 143, 143);
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  h1 {
    margin-top: 0;
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-inline-start: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  .square {
    background: #fff;
    border: 2px solid #ecc8c8;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    width: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
  }
  
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .status {
    display:flex;
    flex-direction: column;
    margin-right: 10px;
    height: 100px;
    border: 2px solid #ecc8c8;
    border-radius: 8px;
    text-align: center;
  }

  .status p{
    display: block;
    font-size: 20px;
    padding:0px 25px 0px 25px;
    margin: auto;
    }

  .status h2{
    background-color:#ecc8c8;
    padding:0px 25px 0px 25px;
    color: white;
    margin: 0;
  }

  .game {
    display: flex;
    flex-direction: row;
    justify-content:center;
  }
  
  .game-info {
    display: flex;
    margin-left: 50px;
    flex-direction:column;
  }


  .buttons{
    background-color: #FFFFFF;
    border: 1px solid #ecc8c8;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(170, 143, 143);
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 10px;
    outline: none;
    padding: 15px 50px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
  }

  .winner-announcement{
    margin: auto;
    font-size: 100px;
    padding:50% 0;
  }
